<section class="help section" id="help">
  <div class="container">
    <div class="section__subtitle">Как помочь</div>
    <h2 class="section__title">Подарим питомцам<br> счастливую жизнь!</h2>
    <p class="section__description">
      Доказано: многие животные испытывают самые настоящие эмоции, у&nbsp;них меняется настроение, возникают различные чувства. Вместе с&nbsp;фондом &laquo;Код добра&raquo; мы&nbsp;собираем деньги, чтобы оплачивать работу зоопсихологов&nbsp;&mdash; специалистов, которые помогут домашним питомцам и&nbsp;хвостатым в&nbsp;приютах жить в&nbsp;комфорте и&nbsp;гармонии. Давайте поможем сотням собак и&nbsp;кошек ощущать самое настоящее счастье!
    </p>
    <button class="help__go-next go-next" data-go-next></button>
  </div>
</section>