<section class="instructions section">
  <div class="container">
    <div class="section__subtitle">Инструкции</div>
    <h2 class="section__title">Как справиться<br> с&nbsp;тревогой питомца</h2>
    <p class="section__description">
      Как сделать так, чтобы животное быстрее привыкло к&nbsp;новой семье? Как &laquo;объяснить&raquo; четвероногому другу, что даже несмотря на&nbsp;расставание вы&nbsp;его любите? Вместе с&nbsp;Ольгой Манохиной и&nbsp;Анной Морозовой, кинологами фонда &laquo;НИКА&raquo;, рассказываем, как сделать жизнь животного комфортнее.
    </p>
    <div class="section__slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="section__slide">
            <h3 class="section__slide-title">Сохраняйте распорядок дня</h3>
            <p class="section__slide-description">
              Если вы&nbsp;собираетесь перезжать с&nbsp;питомцем, подготовьте его к&nbsp;переменам. Обратите внимание на&nbsp;распорядок дня и&nbsp;дайте животному понять, что вы&nbsp;рядом. Не&nbsp;забывайте его кормить в&nbsp;одно и&nbsp;то&nbsp;же время, гулять и&nbsp;уделять внимание играм. Иначе питомец начнет чувствовать волнение, ведь ему нельзя объяснить, что переезд занимает много сил и&nbsp;времени.
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="section__slide">
            <h3 class="section__slide-title">Будьте рядом</h3>
            <p class="section__slide-description">
              Во&nbsp;время переезда собирайте вещи животного в&nbsp;последнюю очередь и&nbsp;держите при нем любимые игрушки и&nbsp;пару ваших вещей. Питомец чувствует себя спокойно, если рядом есть знакомые запахи: свой и&nbsp;хозяина. Периодически подходите к&nbsp;собаке, чтобы погладить и&nbsp;поиграть, говорите спокойным голосом, но&nbsp;не&nbsp;слишком навязывайтесь. Задача&nbsp;&mdash; дать понять, что вы&nbsp;никуда не&nbsp;уйдете.
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="section__slide">
            <h3 class="section__slide-title">Создайте уют</h3>
            <p class="section__slide-description">
              В&nbsp;новом доме обязательно сразу подготовьте место для питомца: любимая лежанка, пара игрушек, миски с&nbsp;доступом к&nbsp;еде и&nbsp;воде. Не&nbsp;забывайте о&nbsp;распорядке дня и&nbsp;дайте собаке немного времени для адаптации&nbsp;&mdash; первое время животному нужно привыкнуть к&nbsp;новой обстановке и&nbsp;запахам.
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="section__slide">
            <h3 class="section__slide-title">Устройте день знакомств</h3>
            <p class="section__slide-description">
              Если вам приходится передать питомца новым хозяевам, обязательно познакомьте их&nbsp;друг с&nbsp;другом. Новый хозяин может приезжать в&nbsp;гости, брать питомца на&nbsp;прогулки, кормить его. Это поможет питомцу привыкнуть к&nbsp;другому человеку, его голосу. Попросите нового хозяина оставить вам пару своих вещей, тогда новый запах не&nbsp;напугает животное при переезде в&nbsp;другой дом.
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="section__slide">
            <h3 class="section__slide-title">Покажите новый дом</h3>
            <p class="section__slide-description">
              Перед тем, как новый хозяин увезет вашего питомца к&nbsp;себе, было&nbsp;бы неплохо привести его на&nbsp;знакомство с&nbsp;новым домом или квартирой. Несколько встреч в&nbsp;новой обстановке помогут животному быстрее адаптироваться&nbsp;&mdash; ведь место будет ему уже знакомо. А&nbsp;значит, и&nbsp;стресса от&nbsp;перемены места жительства питомец испытает меньше.
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="section__slide">
            <h3 class="section__slide-title">Представьте животных друг другу</h3>
            <p class="section__slide-description">
              Если обстоятельства складываются так, что вашему питомцу придется жить с&nbsp;другими животными, попробуйте представить их&nbsp;друг другу. Делать это нужно под вашим надзором на&nbsp;нейтральной территории. Если знакомство будет проходить в&nbsp;квартире, один из&nbsp;питомцев может начать защиту своих владений. Понаблюдайте, нет&nbsp;ли у&nbsp;питомцев агрессии, удалось&nbsp;ли им&nbsp;понюхать друг друга или порезвиться вместе.
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="section__slide">
            <h3 class="section__slide-title">Навещайте питомца</h3>
            <p class="section__slide-description">
              Если вам приходится передать питомца новым хозяевам, обязательно познакомьте их&nbsp;друг с&nbsp;другом. Новый хозяин может приезжать в&nbsp;гости, брать питомца на&nbsp;прогулки, кормить его. Это поможет питомцу привыкнуть к&nbsp;другому человеку, его голосу. Попросите нового хозяина оставить вам пару своих вещей, тогда новый запах не&nbsp;напугает животное при переезде в&nbsp;другой дом.
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="section__slide">
            <h3 class="section__slide-title">Замечайте &laquo;маркеры стресса&raquo;</h3>
            <p class="section__slide-description">
              Перед тем, как новый хозяин увезет вашего питомца к&nbsp;себе, было&nbsp;бы неплохо привести его на&nbsp;знакомство с&nbsp;новым домом или квартирой. Несколько встреч в&nbsp;новой обстановке помогут животному быстрее адаптироваться&nbsp;&mdash; ведь место будет ему уже знакомо. А&nbsp;значит, и&nbsp;стресса от&nbsp;перемены места жительства питомец испытает меньше.
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="section__slide">
            <h3 class="section__slide-title">Следите за&nbsp;повадками</h3>
            <p class="section__slide-description">
              На&nbsp;длительный стресс животного могут указывать и&nbsp;его повадки: обращайте внимание на&nbsp;аппетит, качество и&nbsp;продолжительность сна, поведение на&nbsp;прогулке. Иногда о&nbsp;стрессе говорит не&nbsp;только вялость животного, но&nbsp;и&nbsp;чрезмерная гиперактивность. Даже такие ситуации, как туалет дома или в&nbsp;непривычном месте, а&nbsp;также смена места сна могут стать тревожными маркерами&nbsp;&mdash; так питомец дает понять, что у&nbsp;него не&nbsp;все в&nbsp;порядке.
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="section__slide">
            <h3 class="section__slide-title">Помогайте адаптироваться</h3>
            <p class="section__slide-description">
              Бывает, новым хозяевам хочется сразу приступить к&nbsp;играм или дрессировке животного, которое они взяоли из&nbsp;приюта. Но&nbsp;часто это может вызвать еще больший стресс у&nbsp;питомца. Первым делом дайте ему время адаптироваться к&nbsp;новой среде, освоиться и&nbsp;познакомиться со&nbsp;всеми домашними.
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="section__slide">
            <h3 class="section__slide-title">Создайте ритуалы</h3>
            <p class="section__slide-description">
              Чтобы ускорить адаптацию питомца, введите четкий и&nbsp;стабильный распорядок дня. Например, для собаки важны ритуалы: прогулки в&nbsp;одно и&nbsp;то&nbsp;же время, кормежка сразу после прогулки, сон после еды. Жизнь пса должна быть спокойной и&nbsp;предсказуемой&nbsp;&mdash; это поможет ему освоиться быстрее. А&nbsp;еще поощряйте собаку за&nbsp;попытки подружиться: дайте вкусняшку за&nbsp;то, что она близко подошла и&nbsp;стала играть, похвалите за&nbsp;успешное мытье лап.
            </p>
          </div>
        </div>
      </div>
      <div class="swiper-navigation">
        <button class="swiper-navigation-btn swiper-navigation-btn--prev"></button>
        <button class="swiper-navigation-btn swiper-navigation-btn--next"></button>
      </div>
      <div class="swiper-pagination"></div>
    </div>
    <div class="instructions__go-talk go-talk"></div>
  </div>
</section>