<section class="instructions section" id="instructions">
  <div class="container">
    <div class="section__subtitle">Инструкции</div>
    <h2 class="section__title">Как справиться<br> с&nbsp;собственными эмоциями</h2>
    <p class="section__description">
      Как правильно &laquo;делить&raquo; животных, если вы&nbsp;расстаетесь с&nbsp;партнером? А&nbsp;как вести себя с&nbsp;четвероногим другом во&nbsp;время переезда? Ищем ответы вместе с&nbsp;Надеждой Собольковой-Сивергиной, психотерапевтом сервиса онлайн-психотерапии <a href="http://zigmund.online/?utm_source=dobro&utm_medium=nadopogovorit&utm_campaign=pets" target="_blank">Zigmund.Online</a>.
    </p>
    <div class="section__slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="section__slide">
            <h3 class="section__slide-title">Найдите причину страха</h3>
            <p class="section__slide-description">
              Если у&nbsp;вашего партнера есть питомец, а&nbsp;вы&nbsp;его опасаетесь или даже ощущаете неприязнь, помните&nbsp;&mdash; такие чувства нормальны. Другое дело, если страх вас парализует, заставляя избегать любых контактов с&nbsp;животным. Поговорите со&nbsp;специалистом, постарайтесь найти причину страха. Это поможет с&nbsp;ним справиться.
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="section__slide">
            <h3 class="section__slide-title">Решите, с&nbsp;кем комфортнее</h3>
            <p class="section__slide-description">
              Если вы&nbsp;расстаетесь с&nbsp;партнером и&nbsp;думаете, как правильно &laquo;поделить&raquo; четвероногого или крылатого друга, в&nbsp;принятии решения опирайтесь на&nbsp;главную мысль&nbsp;&mdash; ваше животное будет лучше чувствовать себя с&nbsp;тем, к&nbsp;кому оно больше привязано. Оставляйте питомца с&nbsp;тем, кто сможет обеспечить привычный образ жизни (жилье, к&nbsp;которому питомец привык, время кормления, прогулки).
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="section__slide">
            <h3 class="section__slide-title">Приходите в&nbsp;гости</h3>
            <p class="section__slide-description">
              Если вы&nbsp;скучаете по&nbsp;питомцу, с&nbsp;которым вам пришлось расстаться, и&nbsp;он&nbsp;хорошо адаптировался к&nbsp;новым условиям, можете его навестить. А&nbsp;если адаптация проходит тяжело, и&nbsp;животное не&nbsp;может привыкнуть к&nbsp;сложившейся ситуации, лучше пока с&nbsp;ним не&nbsp;видеться. Зачем тревожить себя и&nbsp;его? Подождите некоторое время, боль утихнет, и&nbsp;тогда вы&nbsp;и&nbsp;питомец сможете легче пережить расставание.
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="section__slide">
            <h3 class="section__slide-title">Поищите хорошего хозяина</h3>
            <p class="section__slide-description">
              Если вы&nbsp;переезжаете в&nbsp;другой город, и&nbsp;у&nbsp;вас нет возможности взять питомца с&nbsp;собой, найдите ему нового хозяина&nbsp;&mdash; такого, кому сами доверяете. Спрашивайте знакомых, спрашивайте у&nbsp;собачников, гуляющих в&nbsp;парке. Так вам самому будет легче пережить разлуку, зная, что ваш питомец остается с&nbsp;заботливым человеком.
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="section__slide">
            <h3 class="section__slide-title">Обратитесь к&nbsp;специалисту</h3>
            <p class="section__slide-description">
              Если у&nbsp;кого-то из&nbsp;членов семьи вдруг возникла аллергия на&nbsp;питомца, обратитесь к&nbsp;врачу. Специалист выяснит истинную причину появления симптомов и&nbsp;научит, как взять их&nbsp;под контроль. Это может помочь оставить любимого кота или собаку и&nbsp;избежать расставания.
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="section__slide">
            <h3 class="section__slide-title">Дайте себе время</h3>
            <p class="section__slide-description">
              Если вы&nbsp;приняли в&nbsp;семью животное, у&nbsp;которого до&nbsp;этого был другой хозяин, дайте вам обоим время на&nbsp;адаптацию. Сколько? Молодое животное привыкает почти сразу, взрослое&nbsp;&mdash; примерно за&nbsp;две-три недели. Главное&nbsp;&mdash; создать питомцу все условия для комфортной жизни, окружить его любовью и&nbsp;лаской.
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="section__slide">
            <h3 class="section__slide-title">Придумайте, что вас объединяет</h3>
            <p class="section__slide-description">
              Как помочь питомцу адаптироваться к&nbsp;жизни с&nbsp;вами? Прихватите какую-то вещь из&nbsp;его прошлого дома, в&nbsp;первое время питомцу тс&nbsp;ней будет комфортнее. Если у&nbsp;вас собака, чаще гуляйте&nbsp;&mdash; игры на&nbsp;свежем воздухе объединяют. Дайте игрушки, так животному будет чем заняться, и&nbsp;оно будет меньше скучать. А&nbsp;еще можно дать питомцу новую кличку, так вы&nbsp;вдвоем почувствуете, что начинаете жизнь с&nbsp;чистого листа.
            </p>
          </div>
        </div>
      </div>
      <div class="swiper-navigation">
        <button class="swiper-navigation-btn swiper-navigation-btn--prev"></button>
        <button class="swiper-navigation-btn swiper-navigation-btn--next"></button>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>