<section class="lighthouse section" id="lighthouse">
  <div class="container">
    <div class="section__wrapper">
      <div class="section__left-wrapper">
        <h2 class="lighthouse__title section__title h3">Маяк поможет найти помощь</h2>
        <div class="lighthouse__description">
          Маяк подобрал проверенные благотворительные фонды, которые подскажут, как решать любые сложности, возникающие в&nbsp;жизни с&nbsp;питомцами, как их&nbsp;правильно лечить, кормить, воспитывать и&nbsp;подбирать профессионального зоопсихолога, а&nbsp;еще&nbsp;&mdash; как найти себе преданного друга.
        </div>
        <a href="https://dobro.mail.ru/sos/" target="_blank" class="lighthouse__link btn">Подробнее о Маяке</a>
      </div>
      <div class="section__right-wrapper">
        <ul class="lighthouse__cards">
          <li class="lighthouse__card">
            <img src="img/content/lighthouse-1.png" class="lighthouse__card-logo">
            <div class="lighthouse__card-city">Москва</div>
            <div class="lighthouse__card-name">Ника</div>
            <a href="http://fond-nika.ru/" target="_blank" class="lighthouse__card-link">Подробнее</a>
          </li>
          <li class="lighthouse__card">
            <img src="img/content/lighthouse-2.png" class="lighthouse__card-logo">
            <div class="lighthouse__card-city">Москва</div>
            <div class="lighthouse__card-name">РЭЙ</div>
            <a href="http://rayfund.ru/" target="_blank" class="lighthouse__card-link">Подробнее</a>
          </li>
          <li class="lighthouse__card">
            <img src="img/content/lighthouse-3.png" class="lighthouse__card-logo">
            <div class="lighthouse__card-city">Москва</div>
            <div class="lighthouse__card-name">Умка</div>
            <a href="http://fondymka.ru/" target="_blank" class="lighthouse__card-link">Подробнее</a>
          </li>
          <li class="lighthouse__card">
            <img src="img/content/lighthouse-4.png" class="lighthouse__card-logo">
            <div class="lighthouse__card-city">Магнитогорск</div>
            <div class="lighthouse__card-name">Маленькая жизнь</div>
            <a href="https://littlelife74.ru/" target="_blank" class="lighthouse__card-link">Подробнее</a>
          </li>
          <li class="lighthouse__card">
            <img src="img/content/lighthouse-5.png" class="lighthouse__card-logo">
            <div class="lighthouse__card-city">Ярославль</div>
            <div class="lighthouse__card-name">Верность</div>
            <a href="https://pets76.ru/" target="_blank" class="lighthouse__card-link">Подробнее</a>
          </li>
          <li class="lighthouse__card">
            <img src="img/content/lighthouse-6.png" class="lighthouse__card-logo">
            <div class="lighthouse__card-city">Санкт-Петербург</div>
            <div class="lighthouse__card-name">Преданное сердце</div>
            <a href="https://predannoeserdce.ru/" target="_blank" class="lighthouse__card-link">Подробнее</a>
          </li>
          <li class="lighthouse__card">
            <img src="img/content/lighthouse-7.png" class="lighthouse__card-logo">
            <div class="lighthouse__card-city">Москва</div>
            <div class="lighthouse__card-name">Собаки, которые любят</div>
            <a href="https://www.fund4dogs.ru/" target="_blank" class="lighthouse__card-link">Подробнее</a>
          </li>
          <li class="lighthouse__card">
            <img src="img/content/lighthouse-8.png" class="lighthouse__card-logo">
            <div class="lighthouse__card-city">Пенза</div>
            <div class="lighthouse__card-name">Рука помощи бездомным животным</div>
            <a href="https://www.pitomec58.com/" target="_blank" class="lighthouse__card-link">Подробнее</a>
          </li>
          <li class="lighthouse__card">
            <img src="img/content/lighthouse-9.png" class="lighthouse__card-logo">
            <div class="lighthouse__card-city">Москва</div>
            <div class="lighthouse__card-name">Красивые дети в&nbsp;красивом мире</div>
            <a href="https://www.detipriroda.ru " target="_blank" class="lighthouse__card-link">Подробнее</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>