<section class="manifesto section" id="manifesto">
  <div class="container">
    <div class="section__subtitle">Манифест</div>
    <h2 class="section__title">Главное&nbsp;&mdash; меньше травм и&nbsp;больше гармонии</h2>
    <p class="section__description">
      Они встречаются и&nbsp;любят друг друга, но&nbsp;потом случается разное. Хозяевам и&nbsp;питомцам приходится расставаться&nbsp;&mdash; на&nbsp;время или навсегда, приходится переезжать в&nbsp;другие дома и&nbsp;города, проходить лечение и&nbsp;привыкать к&nbsp;другому образу жизни... Начать очередной этап, сделать так, чтобы все жили дружно, в&nbsp;комфорте и&nbsp;гармонии,&nbsp;&mdash; реально. Главное, приспособиться к&nbsp;новым обстоятельствам, не&nbsp;травмируя членов семьи.
    </p>
    <button class="manifesto__go-next go-next" data-go-next></button>
  </div>
</section>