<section class="share section" id="share">
  <div class="container">
    <div class="section__subtitle">Поделиться</div>
    <h2 class="section__title">Давайте говорить<br> о&nbsp;животных!</h2>
    <p class="section__description">
      Давайте делиться друг с&nbsp;другом советами о&nbsp;том, как проживать непростые моменты вместе с&nbsp;питомцами, гармонично завершать одни этапы в&nbsp;жизни и&nbsp;с&nbsp;вдохновением начинать другие. Давайте делать так, чтобы комфортно было всем&nbsp;&mdash; и&nbsp;нам, владельцам питомцев, и&nbsp;нашим любимым четвероногим и&nbsp;крылатым друзьям!
    </p>
    <button class="share__go-next go-next" data-go-next></button>
    <ul class="share__social-list">
      <li class="share__social-list-item">
        <a href="https://vk.com/share.php?url=https://nadopogovorit.vk.company/pets&title=Давайте говорить о животных!" rel="nofollow noopener" target="_blank" title="Давайте говорить о животных!" class="share__social-link">
          <img src="img/svg/logo-vk.svg" class="share__social-link-logo">
        </a>
      </li>
      <li class="share__social-list-item">
        <a href="https://connect.ok.ru/offer?url=https://nadopogovorit.vk.company/pets&title=Давайте говорить о животных!" rel="nofollow noopener" target="_blank" title="Давайте говорить о животных!" class="share__social-link">
          <img src="img/svg/logo-ok.svg" class="share__social-link-logo">
        </a>
      </li>
      <li class="share__social-list-item">
        <a href="https://t.me/share/url?url=https://nadopogovorit.vk.company/pets&title=Давайте говорить о животных!" rel="nofollow noopener" target="_blank" title="Давайте говорить о животных!" class="share__social-link">
          <img src="img/svg/logo-tg.svg" class="share__social-link-logo">
        </a>
      </li>
      <li class="share__social-list-item">
        <button class="share__social-link" data-copy-link-btn>
          <img src="img/svg/logo-share.svg" class="share__social-link-logo">
        </button>
      </li>
    </ul>
    <div class="share__go-talk go-talk" data-position-x="right"></div>
  </div>
</section>