<section class="statistics section">
  <div class="container">
    <div class="section__wrapper">
      <div class="section__left-wrapper">
        <div class="statistics__subtitle section__subtitle">Статистика</div>
        <h2 class="statistic__title section__title h4">С&nbsp;животными расстаются, хозяева горюют и&nbsp;винят себя</h2>
        <a href="https://cloud.mail.ru/public/khfG/PpJ7dG6sf" target="_blank" class="statistics__pdf">
          <div class="statistics__pdf-icon">PDF</div>
          <div class="statistics__pdf-text">Исследование</div>
        </a>
      </div>
      <div class="section__right-wrapper">
        <div class="statistics__slider swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="statistics__slide">
                <div class="statistics__slide-number"><span>55</span>%</div>
                <div class="statistics__slide-description">по&nbsp;разным причинам расставались со&nbsp;своими питомцами</div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="statistics__slide">
                <div class="statistics__slide-number"><span>37</span>%</div>
                <div class="statistics__slide-description">грустили из-за расставания и&nbsp;испытали чувство вины</div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="statistics__slide">
                <div class="statistics__slide-number"><span>11</span>%</div>
                <div class="statistics__slide-description">оставляли животное на&nbsp;улице/в питомнике (из&nbsp;тех, кто расстался не&nbsp;по&nbsp;причине смерти питомца)</div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="statistics__slide">
                <div class="statistics__slide-number"><span>20</span>%</div>
                <div class="statistics__slide-description">каждому пятому близкие предложили помощь</div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="statistics__slide">
                <div class="statistics__slide-number"><span>32</span>%</div>
                <div class="statistics__slide-description">узнавших о&nbsp;том, что от&nbsp;животного отказываются, брали его себе</div>
              </div>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
  </div>
</section>