<section class="stories section">
  <div class="container">
    <div class="section__wrapper">
      <div class="section__left-wrapper">
        <div class="stories__subtitle section__subtitle">Истории</div>
        <h2 class="stories__title section__title h3">Давайте жить дружно!</h2>
        <div class="stories__description">
          Владельцы четвероногих делятся советами и&nbsp;рассказывают, как сохранять с&nbsp;животными гармоничные отношения, не&nbsp;меняя при этом свой собственный привычный образ жизни и&nbsp;разделяя все радости и&nbsp;счастливые моменты с&nbsp;любимыми питомцами.
        </div>
        <button class="stories__link btn" data-go-next>Как помочь?</button>
      </div>
      <div class="section__right-wrapper">
        <div class="stories__slider swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="stories__slide">
                <img src="img/content/stories-1.png" class="stories__slide-photo">
                <div class="stories__slide-text">
                  <h3 class="stories__slide-title">Собакин город: Артём Гебелев</h3>
                  <div class="stories__slide-description">
                    Урбанист Артём Гебелев создает pet friendly-среду в&nbsp;городах России, развивает медиа для ответственных собаковладельцев &laquo;Собакин город&raquo; и&nbsp;воспитывает трех собак Бруню, Джоя и&nbsp;Малыша.
                  </div>
                  <a href="https://pets.mail.ru/stories/sobakin-gorod-kak-mesto-vstrechi-zhivotnyih-i-lyud/" target="_blank" class="stories__slide-link">Подробнее</a>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="stories__slide">
                <img src="img/content/stories-2.png" class="stories__slide-photo">
                <div class="stories__slide-text">
                  <h3 class="stories__slide-title">Иллюстрации: Bird Born</h3>
                  <div class="stories__slide-description">
                    Художник-иллюстратор Bird Born живет с&nbsp;двумя идеальными собаками&nbsp;&mdash; Реми и&nbsp;Кирой&nbsp;&mdash; рисует про них комиксы и&nbsp;поддерживает приюты для животных.
                  </div>
                  <a href="https://www.novochag.ru/home/pets/moi-komiksy-podderzhka-sherstyanyh-druganov-my-nashli-samyy-neobychnyy-sposob-pomoch-zhivotnym-i-on-rabotaet/" target="_blank" class="stories__slide-link">Подробнее</a>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="stories__slide">
                <img src="img/content/stories-3.png" class="stories__slide-photo">
                <div class="stories__slide-text">
                  <h3 class="stories__slide-title">Татьяна Авдонина</h3>
                  <div class="stories__slide-description">
                    Я&nbsp;спасаю жизни животным! Фельдшер ветклиники Татьяна Авдонина с&nbsp;детства выхаживала кошек и&nbsp;собак, а&nbsp;потом превратила свое хобби в&nbsp;дело жизни.
                  </div>
                  <a href="https://pets.mail.ru/stories/ya-nashla-delo-vsej-zhizni-ya-pomogayu-bezdomnyi/" target="_blank" class="stories__slide-link">Подробнее</a>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="stories__slide">
                <img src="img/content/stories-4.png" class="stories__slide-photo">
                <div class="stories__slide-text">
                  <h3 class="stories__slide-title">Анастасия Билецкая</h3>
                  <div class="stories__slide-description">
                    Блогер Анастасия Билецкая научилась совмещать заботу о&nbsp;детях и&nbsp;питомцах. Делать так, чтобы всем в&nbsp;большой семье&nbsp;&mdash; и&nbsp;маленьким, и&nbsp;взрослым, и&nbsp;собакам, и&nbsp;кошака&nbsp;&mdash; было комфортно.
                  </div>
                  <a href="https://lady.mail.ru/article/527474-zhit-druzhno-kak-nahodit-vremya-na-detej-dom-i-zab/" target="_blank" class="stories__slide-link">Подробнее</a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
  </div>
</section>