<section class="talk section" id="talk">
  <div class="container">
    <h1 class="section__title h1">Питомцы и&nbsp;человек&nbsp;&mdash; жизнь в&nbsp;новых обстоятельствах</h1>
    <p class="section__description">
      Люди несут ответственность за&nbsp;тех, кого приручили, но&nbsp;бывает так, что ситуация в&nbsp;жизни меняется, и&nbsp;благополучие животных оказывается под угрозой. В&nbsp;Добре Mail.ru уверены&nbsp;&mdash; об&nbsp;этом #надопоговорить.
    </p>
    <button class="talk__btn btn" data-go-next>Надо поговорить</button>
    <button class="talk__go-next go-next" data-go-next></button>
    <div class="talk__go-talk go-talk"></div>
  </div>
</section>